.box {
    background-image: url('/src/images/mole.png');
    object-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 10;
  }
  
  .active {
    opacity: 1;
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  