.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  margin: auto;
  background-color: #fefefe;
  height: 80vh;
  border-radius: 30px;
  overflow: auto;
}

.btn3 {
  margin-bottom: 18px;
  align-self: end;
  margin-right: 15px;
  border: none;
  outline: none;
  background-color: #fefefe;
  cursor: pointer;
  font-size: 32px;
}

.btn3:hover {
  color: #8b8787;
}
